body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin-bottom: 5px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  max-width: 900px;
  margin: 20px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
}

section ul ul {
  list-style-type: none;
  padding-left: 0;
}

section ul ul li {
  margin-left: 20px;
}

.project,
.internships,
.certificates,
.extracurricular {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.project h3,
.internships h3,
.certificates h2,
.extracurricular h2 {
  margin-bottom: 5px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #444;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar {
  display: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #444;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.navbar ul li {
  margin: 15px 0;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.show-navbar {
  display: block;
}

header a[href^="https://gitlab.com"] {
      color: #e24329; 
      margin-right: 10px;
    }
    
    header a[href^="https://www.linkedin.com"] {
      color: #0e76a8; 
    }

    header a[href^="https://gitlab.com"]:hover,
    header a[href^="https://www.linkedin.com"]:hover,
    
    .last{
      padding-bottom: 50px;
    }